@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    
    --clr-primary-Sky-Blue: #3882F6;
    
    --clr-neutral-Dark-Blue: #1F2937;
    --clr-neutral-Off-White: #F9FAF8;
    --clr-neutral-Light-Gray: #E5E7EB;
    
    --ff: "Roboto", sans-serif;

    --fw-900: 900;
    --fw-400: 400;
    --fw-300: 300;

    --fs-hero: 3rem;
    --fs-header: 2.25rem;
    --fs-header-logo: 1.5rem;
    --fs-secondary: 1.125rem;
    --fs-quote: 2.25rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--clr-neutral-Light-Gray);
    text-decoration: none;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--ff);
    font-size: var(--fs-secondary);
    font-weight: var(--fw-300);
}

.container {
    margin: 1rem 2rem;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
}

h1 {
    font-size: var(--fs-hero);
}

button {
    width: 100%;
    max-width: 100px;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    background-color: var(--clr-primary-Sky-Blue);
    border-color: var(--clr-primary-Sky-Blue);
    color: var(--clr-neutral-Off-White);
    border-style: none;
    font-weight: var(--fw-900);
}

section {
    display: flex;
    justify-content: center;
}

/* Header */

header {
    background-color: var(--clr-neutral-Dark-Blue);
    color: var(--clr-neutral-Light-Gray);
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.header__logo {
    font-size: var(--fs-header-logo);
    font-weight: var(--fw-900);
}

.header__links {
    display: flex;
}

.link {
    margin-left: 1.5rem;
    font-size: var(--fs-secondary);
    font-weight: var(--fw-300);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header__text--para {
    font-size: var(--fs-secondary);
}

.header__img--wrapper {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.header__img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: -100px
}

/* First Section */

.container--first {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    color: var(--clr-neutral-Dark-Blue);
    margin-bottom: 2rem;
}

.boxes {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.box__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid var(--clr-primary-Sky-Blue);
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

/* Second section */

.section--two {
    background-color: var(--clr-neutral-Light-Gray);
}

.section-two__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 5rem;
}

.section-two__text {
    width: 65%;
    font-size: var(--fs-quote);
    font-style: italic;
    color: var(--clr-neutral-Dark-Blue);
    margin-bottom: 0.5rem;
}

.section-two__attribution {
    align-self: flex-end;
    margin-right: 250px;
    font-weight: var(--fw-900);
    color: var(--clr-neutral-Dark-Blue);
}

/* Third Section */

.section-three__container {
    background-color: var(--clr-primary-Sky-Blue);
    border-radius: 5px;
    padding: 3rem 3rem;
    margin: 8rem 0;
    color: var(--clr-neutral-Off-White);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta__button {
    border: 2px solid var(--clr-neutral-Off-White)
}

/* Footer */

footer {
    background-color: var(--clr-neutral-Dark-Blue);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
    color: var(--clr-neutral-Off-White);
    font-size: var(--fs-secondary);
}